<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.IO"#>
<#@ import namespace="System.Collections.Generic" #>
<#@ assembly name="$(NuGetPackageRoot)Newtonsoft.Json\13.0.1\lib\net45\Newtonsoft.Json.dll" #>
<#@ import namespace="Newtonsoft.Json"#>
<#@ import namespace="Newtonsoft.Json.Linq"#>
<#@ output extension=".cs" #>
<# 
	var location = Path.Combine(Path.GetDirectoryName(Host.TemplateFile), "Fluent.json");
	if(File.Exists(location))
	{
		var symbolDefinitionsText = File.ReadAllText(location);
		var symbolDefinitions = JObject.Parse(symbolDefinitionsText);
		//WriteLine($"namespace {symbolDefinitions["NamespaceName"]}.Markup;");
		regularGlyphs = (JArray)symbolDefinitions["RegularGlyphs"];
		filledGlyphs = (JArray)symbolDefinitions["FilledGlyphs"];
		firstGlyphName = regularGlyphs.First().ToObject<JObject>()["GlyphName"].ToString();
		devLayer = symbolDefinitions["EnvelopeLayer"]?.ToString()??"WPF";
		var enumStatement = $"public enum {symbolDefinitions["SymbolName"]}Glyphs{{{Environment.NewLine}\t\t"+string.Join($",{Environment.NewLine}\t\t",regularGlyphs.Select(x => x["GlyphName"].ToString()))+" }";
		var regularDictionary = $"public static Dictionary<{symbolDefinitions["SymbolName"]}Glyphs,string> RegularGlyphToUnicodeMap = new Dictionary<{symbolDefinitions["SymbolName"]}Glyphs,string>(){{{Environment.NewLine}\t\t"+string.Join($",{Environment.NewLine}\t\t",regularGlyphs.Select(x => $"{{ {symbolDefinitions["SymbolName"]}Glyphs.{x["GlyphName"]}, char.ConvertFromUtf32({x["GlyphId"]}) }}"))+" };";
		var filledDictionary = $"public static Dictionary<{symbolDefinitions["SymbolName"]}Glyphs,string> FilledGlyphToUnicodeMap = new Dictionary<{symbolDefinitions["SymbolName"]}Glyphs,string>(){{{Environment.NewLine}\t\t"+string.Join($",{Environment.NewLine}\t\t",filledGlyphs.Select(x => $"{{ {symbolDefinitions["SymbolName"]}Glyphs.{x["GlyphName"]}, char.ConvertFromUtf32({x["GlyphId"]}) }}"))+" };";
		if(devLayer == "WPF")
		{
			GenWPFClass(symbolDefinitions["SymbolName"].ToString(),symbolDefinitions["UsedFor"]?.ToString()??"Segoe",$"namespace {symbolDefinitions["NamespaceName"]}.Markup;",enumStatement,regularDictionary,filledDictionary);
		}
		else if (devLayer == "WinUI")
		{
			WriteLine($"// EnvelopeLayer {devLayer} is in preview.");
			GenWinUIClass(symbolDefinitions["SymbolName"].ToString(),symbolDefinitions["UsedFor"]?.ToString()??"Segoe",$"namespace {symbolDefinitions["NamespaceName"]}.Markup;",enumStatement,regularDictionary,filledDictionary);
		}
		else if (devLayer == "MAUI")
		{
			WriteLine($"// EnvelopeLayer {devLayer} is in preview.");
			GenMAUIClass(symbolDefinitions["SymbolName"].ToString(),symbolDefinitions["UsedFor"]?.ToString()??"Segoe",$"namespace {symbolDefinitions["NamespaceName"]};",enumStatement,regularDictionary,filledDictionary);
		}
		else
		{
			WriteLine($"// EnvelopeLayer {devLayer} is not supported.");
		}
	}
	else
	{
		WriteLine($"// Fluent.json not found at {location}");
	}
#>
<#+ 
JArray regularGlyphs, filledGlyphs ;
string firstGlyphName,devLayer;
void GenWPFClass(string a,string b,string d,string enumStatement,string regularDictionary,string filledDictionary)
{
	WriteLine($"using System.Windows.Markup;");
	WriteLine("/"+new string('*', 100));
	WriteLine("This file is generated by LinkGlyphFluent.tt. Do not edit it directly.");
	WriteLine($"last updated: {DateTime.Now}");
	WriteLine(new string('*', 100)+"/");
	WriteLine(d);
	
	//var statement =$"public enum {a}Glyphs{{{Environment.NewLine}\t\t"+string.Join($",{Environment.NewLine}\t\t",c.Select(x => x))+" }";
	//var regularDictionary = $"public static Dictionary<{a}Glyphs,string> RegularGlyphToUnicodeMap = new Dictionary<{a}Glyphs,string>(){{{Environment.NewLine}\t\t"+string.Join($",{Environment.NewLine}\t\t",c.Select(x => $"{{ {a}Glyphs.{x}, char.ConvertFromUtf32({regularGlyphs.First(y => y["GlyphName"].ToString() == x)["GlyphId"]}) }}"))+" };";
	//var filledDictionary = $"public static Dictionary<{a}Glyphs,string> FilledGlyphToUnicodeMap = new Dictionary<{a}Glyphs,string>(){{{Environment.NewLine}\t\t"+string.Join($",{Environment.NewLine}\t\t",c.Select(x => $"{{ {a}Glyphs.{x}, char.ConvertFromUtf32({filledGlyphs.First(y => y["GlyphName"].ToString() == x)["GlyphId"]}) }}"))+" };";

#>
public static class <#= a #>GlyphTable
{
	<#= enumStatement #>
	<#= regularDictionary #>
	<#= filledDictionary #>
}
public class <#= a #>MarkupExtension:MarkupExtension
{
	public <#= a #>GlyphTable.<#= a #>Glyphs Glyph { get; set; }= <#= a #>GlyphTable.<#= a #>Glyphs.<#= firstGlyphName #>;
	public bool IsFilled { get; set; } = false;
	public override object ProvideValue(IServiceProvider serviceProvider)
    {
		return IsFilled ? <#= a #>GlyphTable.FilledGlyphToUnicodeMap[Glyph] : <#= a #>GlyphTable.RegularGlyphToUnicodeMap[Glyph];
    }
}
<#+ } 
void GenWinUIClass(string a,string b,string d,string enumStatement,string regularDictionary,string filledDictionary)
{
	//WriteLine($"using System.Windows.Markup;");
	WriteLine("/"+new string('*', 100));
	WriteLine("This file is generated by LinkGlyphFluent.tt. Do not edit it directly.");
	WriteLine($"last updated: {DateTime.Now}");
	WriteLine(new string('*', 100)+"/");
	WriteLine(d);

#>
<#= enumStatement #>
public static class <#= a #>GlyphTable
{
	<#= regularDictionary #>
	<#= filledDictionary #>
}
public class <#= a #>Markup
{
	public <#= a #>Glyphs Glyph { get; set; }= <#= a #>Glyphs.<#= firstGlyphName #>;
	public bool IsFilled { get; set; } = false;
	public override object ProvideValue(IServiceProvider serviceProvider)
	{
		return IsFilled ? <#= a #>GlyphTable.FilledGlyphToUnicodeMap[Glyph] : <#= a #>GlyphTable.RegularGlyphToUnicodeMap[Glyph];
	}
}
<#+ } 
void GenMAUIClass(string a,string b,string d,string enumStatement,string regularDictionary,string filledDictionary)
{
	WriteLine("using Microsoft.Maui.Controls.Xaml;");
	WriteLine("/"+new string('*', 100));
	WriteLine("This file is generated by LinkGlyphFluent.tt. Do not edit it directly.");
	WriteLine($"last updated: {DateTime.Now}");
	WriteLine(new string('*', 100)+"/");
	WriteLine(d);
#>
public static class <#= a #>GlyphTable
{
	<#= enumStatement #>
	<#= regularDictionary #>
	<#= filledDictionary #>
}
// MAUI does not support MarkupExtension with generic type parameters, so we cannot implement IMarkupExtension<string> directly. Instead, we can use the ProvideValue method to return a string value.
[ContentProperty(nameof(Glyph))]
public class <#= a #>MarkupExtension:IMarkupExtension<string>
{
	public <#= a #>GlyphTable.<#= a #>Glyphs Glyph { get; set; }= <#= a #>GlyphTable.<#= a #>Glyphs.<#= firstGlyphName #>;
	public bool IsFilled { get; set; } = false;
	public string ProvideValue(IServiceProvider serviceProvider)
	{
		return IsFilled ? <#= a #>GlyphTable.FilledGlyphToUnicodeMap[Glyph] : <#= a #>GlyphTable.RegularGlyphToUnicodeMap[Glyph];
	}
	public object ProvideValue(IServiceProvider serviceProvider)
	{
		return IsFilled ? <#= a #>GlyphTable.FilledGlyphToUnicodeMap[Glyph] : <#= a #>GlyphTable.RegularGlyphToUnicodeMap[Glyph];
	}
}
<#+ }  #>