<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ assembly name="$(NuGetPackageRoot)Newtonsoft.Json\13.0.1\lib\net45\Newtonsoft.Json.dll" #>
<#@ import namespace="Newtonsoft.Json"#>
<#@ import namespace="Newtonsoft.Json.Linq"#>
<#@ output extension=".cs" #>

<#   
 var location = Path.Combine(Path.GetDirectoryName(Host.TemplateFile), "SegoeFluent.json");
 if(!File.Exists(location))
 {
	WriteLine($"// SegoeFluent.json not found at {location}");
	return string.Empty;
 }
 var symbolDefinitionsText = File.ReadAllText(location);

var symbolDefinitions = JObject.Parse(symbolDefinitionsText);
//WriteLine($"namespace {symbolDefinitions["NamespaceName"]}.Markup;");
glyphs = (JArray)symbolDefinitions["DefinedGlyphs"];
firstGlyph = glyphs.First().ToObject<JObject>();
var DevLayer=symbolDefinitions["EnvelopeLayer"]?.ToString()??"";
var enumStatement=$"public enum {symbolDefinitions["SymbolName"]}Glyphs{{\n\t\t"+string.Join(",\n\t\t",glyphs.Select(x => x["GlyphName"].ToString()))+" }";
var dictionary = $"public static Dictionary<{symbolDefinitions["SymbolName"]}Glyphs,string> GlyphToUnicodeMap = new Dictionary<{symbolDefinitions["SymbolName"]}Glyphs,string>(){{\n\t\t"+string.Join(",\n\t\t",glyphs.Select(x => $"{{ {symbolDefinitions["SymbolName"]}Glyphs.{x["GlyphName"]}, char.ConvertFromUtf32({x["GlyphId"]}) }}"))+" };";
GenWPFClass(symbolDefinitions["SymbolName"].ToString(),symbolDefinitions["UsedFor"]?.ToString()??"Segoe",enumStatement,dictionary,$"namespace {symbolDefinitions["NamespaceName"]}.Markup;",DevLayer);
#>

<#+ 
JArray glyphs ;
JObject firstGlyph;
void GenWPFClass(string a,string b,string enumStatement,string dictionary,string d,string devLayer)
{
	WriteLine("using System.Windows.Markup;");
	WriteLine(string.Empty);
	WriteLine("/"+new string('*', 100));
	WriteLine("This file is generated by LinkGlyph.tt. Do not edit it directly.");
	WriteLine($"last updated: {DateTime.Now}, DevLayer: {devLayer}");
	WriteLine(new string('*', 100)+"/");
	WriteLine(d);
	
	//var statement =$"public enum {a}Glyphs{{\n\t\t"+string.Join(",\n\t\t",c.Select(x => x))+" }";
	//var dictionary = $"public static Dictionary<{a}Glyphs,string> GlyphToUnicodeMap = new Dictionary<{a}Glyphs,string>(){{\n\t\t"+string.Join(",\n\t\t",c.Select(x => $"{{ {a}Glyphs.{x}, char.ConvertFromUtf32({glyphs.First(y => y["GlyphName"].ToString() == x)["GlyphId"]}) }}"))+" };";
#>
public static class <#= a #>GlyphTable
{
	<#= enumStatement #>
	<#= dictionary #>

	}
public class <#= b #>SymbolMarkupExtension:MarkupExtension
{
	public <#=  a #>GlyphTable.<#= a #>Glyphs Glyph { get; set; }= <#=  a #>GlyphTable.<#= a #>Glyphs.<#= firstGlyph["GlyphName"] #>;
	public override object ProvideValue(IServiceProvider serviceProvider)
	{
		return <#=  a #>GlyphTable.GlyphToUnicodeMap[Glyph];
	}
}
<#+}
#>