<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FontExamine.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IconExamine.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FontExamine.Settings1>
            <setting name="DataDir" serializeAs="String">
                <value>Icon Work</value>
            </setting>
            <setting name="LastPage" serializeAs="String">
                <value>Views\Projects.xaml</value>
            </setting>
            <setting name="ProjectPath" serializeAs="String">
                <value>C:\\Users\\markn\\source\\repos\\IconExamine\\IconExamine\\</value>
            </setting>
        </FontExamine.Settings1>
        <IconExamine.Settings1>
            <setting name="DataDir" serializeAs="String">
                <value>Icon Work</value>
            </setting>
        </IconExamine.Settings1>
    </userSettings>
</configuration>